{% extends molecule('product-item-list') %}

{% define config = {
    name: 'product',
} %}

{% define data = {
    selectedSlotId: required,
    form: required,
    configurableBundleTemplateStorage: '',
} %}

{% block extraClass %} grid box{% endblock %}


{% block imageContainer %}
    <div class="col col--sm-3 col--md-2 col--middle">
        {% if data.image %}
            {% block image %}
                {% include atom('thumbnail') with {
                    modifiers: ['small'],
                    attributes: {
                        src: data.image,
                        alt: data.product.name,
                    },
                } only %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}

{% block rating %}{% endblock %}

{% block priceContainer %}{% endblock %}

{% block actionsContainer %}{% endblock %}

